@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  background-color: #4a7c59;
}

.big-heading {
  color: #faf3dd;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
}

.hand {
  color: #faf3dd;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.rps-button {
  border-radius: 2rem;
}

.btn-image {
  background: #000;
  width: 8rem;
  height: 8rem;
}
